<!DOCTYPE html>
<html lang="en">

<head>
    <title>menosketiago™ Nem tudo o que Reluz ė Ouro</title>

	{{> head/meta}}
	{{> head/og}}
	{{> head/links-scripts}}
</head>

<body class="theme-dark theme-gold">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <section class="summary short">
                <h1>Nem Tudo o que Reluz é Ouro</h1>

                <article class="grid-3-2">
                    <div>
                        <p>
                            <b>Nem Tudo o que Reluz é Ouro</b> or <b>Not all That Shines is Gold</b> is a portuguese saying akin to the more international "You can't judge a book by it's cover". It is also the name of an handmade screen-printed, limited edition illustration fanzine, with work from many other portuguese illustrators.
                        </p>
                        <p>
                            <b>False idol</b> is a critique of society's extreme focus on accumulating wealth, to the detriment of other values, like general welfare, happiness, and our connection to the natural world. The art was heavily inspired by the famous American designer <b>Saul Bass</b>, most known for his posters for <b>Alfred Hitchcock</b>'s movies.
                        </p>
                    </div>

                    <aside>
                        <h5>Role</h5>

                        <div class="pill-group">
                            <div class="pill">Illustrator</div>
                        </div>

                        <h5>Tools</h5>

                        <div class="pill-group">
                            <div class="pill">Adobe Illustrator</div>
                        </div>

                        <h5>Published</h5>

                        <div class="pill-group">
                            <div class="pill">2013</div>
                        </div>

                        <h5>Curator</h5>

                        <div class="pill-group">
                            <a class="pill arrow-right" href="https://www.behance.net/andresantos" target="_blank" rel="noopener">André Santos</a>
                        </div>

                    </aside>
                </article>

                <figure>
                    <picture>
                        {{#formats}}
                            {{#each format}}
                                <source srcset="/images/nem-tudo/nem-tudo-01.{{key}}" type="image/{{key}}">
                            {{/each}}
                        {{/formats}}
                        <img src="/images/nem-tudo/nem-tudo-01.jpg">
                    </picture>
                    <figcaption>Stack of handcrafted copies showing the front over</figcaption>
                </figure>

                <figure>
                    <picture loading="lazy">
                        {{#formats}}
                            {{#each format}}
                                <source srcset="/images/nem-tudo/nem-tudo-02.{{key}}" type="image/{{key}}">
                            {{/each}}
                        {{/formats}}
                        <img src="/images/nem-tudo/nem-tudo-02.jpg" loading="lazy">
                    </picture>
                    <figcaption>The book open on my contribution</figcaption>
                </figure>

                <figure>
                    <picture loading="lazy">
                        {{#formats}}
                            {{#each format}}
                                <source srcset="/images/nem-tudo/nem-tudo-03.{{key}}" type="image/{{key}}">
                            {{/each}}
                        {{/formats}}
                        <img src="/images/nem-tudo/nem-tudo-03.jpg" loading="lazy">
                    </picture>
                    <figcaption>Profile page next to the illustration</figcaption>
                </figure>
                
                <figure>
                    <picture loading="lazy">
                        {{#formats}}
                            {{#each format}}
                                <source srcset="/images/nem-tudo/nem-tudo-04.{{key}}" type="image/{{key}}">
                            {{/each}}
                        {{/formats}}
                        <img src="/images/nem-tudo/nem-tudo-04.jpg" loading="lazy">
                    </picture>
                    <figcaption>Close-up of the screen printing details</figcaption>
                </figure>

                <figure>
                    <picture loading="lazy">
                        {{#formats}}
                            {{#each format}}
                                <source srcset="/images/nem-tudo/nem-tudo-05.{{key}}" type="image/{{key}}">
                            {{/each}}
                        {{/formats}}
                        <img src="/images/nem-tudo/nem-tudo-05.jpg" loading="lazy">
                    </picture>
                    <figcaption>Showing how the gold ink interacts with light</figcaption>
                </figure>
            </section>

            <section>
                <h2>Making of video</h2>

                <div class="vimeo">
                    <iframe src="https://player.vimeo.com/video/78730893?color=FFDD60&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </section>

            {{!-- More work section --}}

            <h2>More work</h2>

            <section class="dual-column">
                {{!-- {{> summaries/klarna}} --}}
                {{> summaries/trids}}
                {{> summaries/ericsson}}
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>
</body>

</html>