{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Pubication date</h5>
    <h6><time>2013</time></h6>

    <h5>Publication</h5>
    <h6><a href="https://www.behance.net/gallery/8083759/Nem-tudo-que-reluz-Ouro" target="_blank" rel="noopener">Nem Tudo</a></h6>
</aside>

<header>
    <h3>Illustration</h3>
    <h1>Nem Tudo o que Reluz é Ouro</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Illustrator</h6>
    </hgroup>
</header>

<p>
    <em>Nem Tudo o que Reluz é Ouro</em> or <em>Not all That Shines is Gold</em> is a portuguese saying akin to the more international "You can't judge a book by it's cover".
</p>

<p>
    It is also the name of an handmade screen-printed fanzine in which I took part with an illustration, among many other great portuguese creatives.
</p>

<figure>
    <picture>
        {{#formats}}
            {{#each format}}
                <source srcset="./images/nem-tudo/nem-tudo-01.{{key}}" type="image/{{key}}">
            {{/each}}
        {{/formats}}
        <img src="./images/nem-tudo/nem-tudo-01.jpg">
    </picture>
    <figcaption>Book cover</figcaption>
</figure>
<figure>
    <picture>
        {{#formats}}
            {{#each format}}
                <source srcset="./images/nem-tudo/nem-tudo-02.{{key}}" type="image/{{key}}">
            {{/each}}
        {{/formats}}
        <img src="./images/nem-tudo/nem-tudo-02.jpg">
    </picture>
    <figcaption>My illustration</figcaption>
</figure>
<figure>
    <picture>
        {{#formats}}
            {{#each format}}
                <source srcset="./images/nem-tudo/nem-tudo-03.{{key}}" type="image/{{key}}">
            {{/each}}
        {{/formats}}
        <img src="./images/nem-tudo/nem-tudo-03.jpg">
    </picture>
    <figcaption>My profile page</figcaption>
</figure>
<figure>
    <picture>
        {{#formats}}
            {{#each format}}
                <source srcset="./images/nem-tudo/nem-tudo-04.{{key}}" type="image/{{key}}">
            {{/each}}
        {{/formats}}
        <img src="./images/nem-tudo/nem-tudo-04.jpg">
    </picture>
    <figcaption>Closer view</figcaption>
</figure>
<figure>
    <picture>
        {{#formats}}
            {{#each format}}
                <source srcset="./images/nem-tudo/nem-tudo-05.{{key}}" type="image/{{key}}">
            {{/each}}
        {{/formats}}
        <img src="./images/nem-tudo/nem-tudo-05.jpg">
    </picture>
    <figcaption>Close up of the gold ink</figcaption>
</figure>

<h2>Making of video</h2>

<div class="vimeo">
    <iframe src="https://player.vimeo.com/video/78730893?color=FFDD60&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>